<nav>
    <div><a {% if page.url == '/' %} class="active"{% endif %} href="/">About</a></div>
    <div class="spacer"></div>
    <div><a {% if page.url == '/docs.html' %} class="active"{% endif %} href="/docs.html">Docs</a></div>
    <div class="spacer"></div>
    <div><a {% if page.url == '/tutorials.html' %} class="active"{% endif %} href="/tutorials.html">Tutorials</a></div>
    <div class="spacer"></div>
    <div><a {% if page.url == '/releases.html' %} class="active"{% endif %} href="https://github.com/sboltools/sboltools/releases">Releases</a></div>
</nav>
